force-app/main/default/flows/ConvertWFRToFlows.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Flow_Metadata</name>
        <label>Convert Flow Metadata</label>
        <locationX>905</locationX>
        <locationY>248</locationY>
        <actionName>ConvertFlowMetadata</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Inspect_Conversion_Results</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowMetadataZipFile</name>
            <value>
                <elementReference>retrieval.zipFileString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>retrieval.metadataName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Convert_WorkflowRule</name>
        <label>Convert WorkflowRule</label>
        <locationX>450</locationX>
        <locationY>255</locationY>
        <actionName>ConvertWFRMetadata</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DisplayScreen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>wfrMetadataZipFile</name>
            <value>
                <elementReference>retrieval.zipFileString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wfrName</name>
            <value>
                <elementReference>retrieval.metadataName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Inspect_Conversion_Results</name>
        <label>Inspect Conversion Results</label>
        <locationX>633</locationX>
        <locationY>365</locationY>
        <defaultConnector>
            <targetReference>Error_Reporting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Errors Reported</defaultConnectorLabel>
        <rules>
            <name>Conversion_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Convert_WorkflowRule.errors</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_Screen</targetReference>
            </connector>
            <label>Conversion Successful</label>
        </rules>
    </decisions>
    <interviewLabel>ConvertWFRToFlows {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ConvertWFRToFlows</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>DisplayScreen</name>
        <label>DisplayScreen</label>
        <locationX>555</locationX>
        <locationY>256</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Inspect_Conversion_Results</targetReference>
        </connector>
        <fields>
            <name>dispWFR</name>
            <fieldText>&lt;p&gt;retrieved metadata:&lt;/p&gt;&lt;p&gt;{!Convert_WorkflowRule.convertedFlowMetadata}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Convert_WorkflowRule.errors}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Reporting</name>
        <label>Error Reporting</label>
        <locationX>177</locationX>
        <locationY>379</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_WFR</targetReference>
        </connector>
        <fields>
            <name>dispError</name>
            <fieldText>&lt;p&gt;The following problems were reported, and deployment was not successful:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Convert_Flow_Metadata.errors}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Output_Screen</name>
        <label>Output Screen</label>
        <locationX>642</locationX>
        <locationY>110</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Select_WFR</targetReference>
        </connector>
        <fields>
            <name>deployer</name>
            <extensionName>c:transferMetadata</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>metadataName</name>
                <value>
                    <elementReference>selectWFR.selectedFlowApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>metadataString</name>
                <value>
                    <elementReference>Convert_WorkflowRule.convertedFlowMetadata</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Flow</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transferMode</name>
                <value>
                    <stringValue>deploy</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retrieve_Metadata</name>
        <label>Retrieve Metadata</label>
        <locationX>315</locationX>
        <locationY>254</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Convert_WorkflowRule</targetReference>
        </connector>
        <fields>
            <name>retrieval</name>
            <extensionName>c:transferMetadata</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>metadataName</name>
                <value>
                    <elementReference>selectWFR.selectedFlowApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transferMode</name>
                <value>
                    <stringValue>retrieve</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Workflow</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_WFR</name>
        <label>Select WorkflowRule</label>
        <locationX>176</locationX>
        <locationY>197</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Retrieve_Metadata</targetReference>
        </connector>
        <fields>
            <name>selectWFR</name>
            <extensionName>c:flowPickerFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showWhichFlowTypes</name>
                <value>
                    <stringValue>Workflow</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>targetObject</name>
                <value>
                    <stringValue>Flow</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Select_WFR</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>targetFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Testproc_One</stringValue>
        </value>
    </variables>
</Flow>
