force-app/main/default/flows/ConvertToFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Flow_Metadata</name>
        <label>Convert Flow Metadata</label>
        <locationX>240</locationX>
        <locationY>872</locationY>
        <actionName>ConvertFlowMetadata</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Consolidate_Results</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>flowMetadataZipFile</name>
            <value>
                <elementReference>transferMetadataFlow.zipFileString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>targetPicker.selectedFlowApiName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Convert_WorkflowRule</name>
        <label>Convert WorkflowRule</label>
        <locationX>95</locationX>
        <locationY>866</locationY>
        <actionName>ConvertWFRMetadata</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Consolidate_Results_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>wfrMetadataZipFile</name>
            <value>
                <elementReference>retrieval.zipFileString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>wfrName</name>
            <value>
                <elementReference>targetPicker.selectedFlowApiName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Consolidate_Results</name>
        <label>Consolidate Results</label>
        <locationX>329</locationX>
        <locationY>1077</locationY>
        <assignmentItems>
            <assignToReference>convertedMetadataZipString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_Flow_Metadata.convertedFlowMetadata</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalErrorsString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_Flow_Metadata.errors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DisplayScreen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Consolidate_Results_0</name>
        <label>Consolidate Results</label>
        <locationX>155</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>convertedMetadataZipString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_WorkflowRule.convertedFlowMetadata</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>finalErrorsString</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Convert_WorkflowRule.errors</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DisplayScreen</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ProcessBuilder</name>
        <choiceText>Process Builder Process</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Workflow</stringValue>
        </value>
    </choices>
    <choices>
        <name>WorkflowRule</name>
        <choiceText>Workflow Rule</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>WorkflowRules</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Inspect_Conversion_Results</name>
        <label>Inspect Conversion Results</label>
        <locationX>785</locationX>
        <locationY>533</locationY>
        <defaultConnector>
            <targetReference>Error_Reporting</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Errors Reported</defaultConnectorLabel>
        <rules>
            <name>Conversion_Successful</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>finalErrorsString</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Output_Screen</targetReference>
            </connector>
            <label>Conversion Successful</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Parser</name>
        <label>Which Parser?</label>
        <locationX>84</locationX>
        <locationY>547</locationY>
        <defaultConnector>
            <targetReference>Retrieve_Flow_Metadata</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Process Builder Processes</defaultConnectorLabel>
        <rules>
            <name>Workflow_Rules</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rbConvertWhich</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WorkflowRule</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Retrieve_WFR_Metadata</targetReference>
            </connector>
            <label>Workflow Rules</label>
        </rules>
    </decisions>
    <formulas>
        <name>convertedFlowName</name>
        <dataType>String</dataType>
        <expression>&apos;converted_&apos; + {!targetPicker.selectedFlowApiName}</expression>
    </formulas>
    <interviewLabel>2Convert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ConvertToFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>ChooseAction</name>
        <label>Select Target Action</label>
        <locationX>80</locationX>
        <locationY>216</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>SelectSourceProcess</targetReference>
        </connector>
        <fields>
            <name>dispConvert</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;Welcome to ConvertToFlow!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Select the process or rule that you&apos;d like to convert. This doesn&apos;t affect the original process, but actually creates a separate new flow that starts with &apos;converted_&apos;.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;CAUTION&lt;/b&gt;: we are not disabling the original processes and rules, which means that when you activate the new flow, you will have two different processes triggering on the same event unless you deactivate the original process or rule.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>rbConvertWhich</name>
            <choiceReferences>ProcessBuilder</choiceReferences>
            <choiceReferences>WorkflowRule</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Convert:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DisplayScreen</name>
        <label>DisplayScreen</label>
        <locationX>699</locationX>
        <locationY>793</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Inspect_Conversion_Results</targetReference>
        </connector>
        <fields>
            <name>dispWFR</name>
            <fieldText>&lt;p&gt;Metadata has been retrieved and converted, but has not yet been deployed as a new flow. If you don&apos;t see any errors below, click Next to deploy your converted flow.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Errors will show up here:&lt;/p&gt;&lt;p&gt;{!finalErrorsString}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Reporting</name>
        <label>Error Reporting</label>
        <locationX>498</locationX>
        <locationY>337</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ChooseAction</targetReference>
        </connector>
        <fields>
            <name>dispError</name>
            <fieldText>&lt;p&gt;The following problems were reported, and deployment was not successful:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Convert_WorkflowRule.errors}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!Convert_Flow_Metadata.errors}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>finalMessage</name>
        <label>finalMessage</label>
        <locationX>381</locationX>
        <locationY>132</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ChooseAction</targetReference>
        </connector>
        <fields>
            <name>dispFinal</name>
            <fieldText>&lt;p&gt;Your new flow has been deployed. Check the Flow list view in Setup.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Output_Screen</name>
        <label>Output Screen</label>
        <locationX>642</locationX>
        <locationY>110</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>finalMessage</targetReference>
        </connector>
        <fields>
            <name>dispSuccess</name>
            <fieldText>&lt;p&gt;Deploying converted flow.... &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>deployFlow</name>
            <extensionName>c:fsc_transferMetadata</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>transferMode</name>
                <value>
                    <stringValue>deploy</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Flow</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>metadataString</name>
                <value>
                    <elementReference>convertedMetadataZipString</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>metadataName</name>
                <value>
                    <elementReference>convertedFlowName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retrieve_Flow_Metadata</name>
        <label>Retrieve Flow Metadata</label>
        <locationX>247</locationX>
        <locationY>714</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Convert_Flow_Metadata</targetReference>
        </connector>
        <fields>
            <name>transferMetadataFlow</name>
            <extensionName>c:fsc_transferMetadata</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>metadataName</name>
                <value>
                    <elementReference>targetPicker.selectedFlowApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transferMode</name>
                <value>
                    <stringValue>retrieve</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Flow</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retrieve_WFR_Metadata</name>
        <label>Retrieve WFR Metadata</label>
        <locationX>90</locationX>
        <locationY>711</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Convert_WorkflowRule</targetReference>
        </connector>
        <fields>
            <name>retrieval</name>
            <extensionName>c:fsc_transferMetadata</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>metadataName</name>
                <value>
                    <elementReference>targetPicker.selectedFlowApiName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>transferMode</name>
                <value>
                    <stringValue>retrieve</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Workflow</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectSourceProcess</name>
        <label>Select Source Process</label>
        <locationX>77</locationX>
        <locationY>358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Which_Parser</targetReference>
        </connector>
        <fields>
            <name>targetPicker</name>
            <extensionName>c:flowPickerFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showWhichFlowTypes</name>
                <value>
                    <elementReference>rbConvertWhich</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>ChooseAction</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>convertedMetadataZipString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalErrorsString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>targetFlowName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Testproc_One</stringValue>
        </value>
    </variables>
</Flow>
