force-app/main/default/flows/Convert_Process_Builder_to_Flow_Builder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Workflow</name>
        <label>Convert Workflow</label>
        <locationX>348</locationX>
        <locationY>258</locationY>
        <actionName>ConvertFlowMetadata</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Save_Converted_Flow</targetReference>
        </connector>
        <inputParameters>
            <name>initialFlowMetadata</name>
            <value>
                <elementReference>Get_Flow_Metadata.flowMetadata</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newFlowLabel</name>
            <value>
                <elementReference>ConversionText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newFlowName</name>
            <value>
                <stringValue>ConvertedFlow-1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>newFlowProcessType</name>
            <value>
                <stringValue>AutolaunchedFlow</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Flow_Metadata</name>
        <label>Get Flow Metadata</label>
        <locationX>176</locationX>
        <locationY>257</locationY>
        <actionName>GetFlowMetadata</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Convert_Workflow</targetReference>
        </connector>
        <inputParameters>
            <name>name</name>
            <value>
                <stringValue>TestWorkflow_AccountRecordChanges</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Save_Converted_Flow</name>
        <label>Save Converted Flow</label>
        <locationX>537</locationX>
        <locationY>258</locationY>
        <actionName>UpdateMetadata</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <name>flowMetadata</name>
            <value>
                <elementReference>Convert_Workflow.convertedFlowMetadata</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <formulas>
        <name>ConversionText</name>
        <dataType>String</dataType>
        <expression>&quot;Converted PB Workflow - &quot;</expression>
    </formulas>
    <interviewLabel>Convert Process Builder to Flow Builder {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Process Builder to Flow Builder</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Output_1</name>
        <label>Output 1</label>
        <locationX>316</locationX>
        <locationY>362</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>disp1</name>
            <fieldText>&lt;p&gt;results: {!Get_Flow_Metadata.flowMetadata}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Flow</name>
        <label>Select Flow</label>
        <locationX>169</locationX>
        <locationY>374</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>pickFlow</name>
            <extensionName>c:flowPickerFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Flow_Metadata</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>curName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
