force-app/main/default/flows/tempbackup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>myRule_1_A1</name>
        <label>Send Alert Email</label>
        <locationX>400</locationX>
        <locationY>300</locationY>
        <actionName>ConvertFlowMetadata</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputParameters>
            <name>flowName</name>
            <value>
                <stringValue>foo</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowMetadataZipFile</name>
            <value>
                <stringValue>bar</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_1_A3</name>
        <label>Create Event</label>
        <locationX>700</locationX>
        <locationY>300</locationY>
        <actionName>NewEvent</actionName>
        <actionType>quickAction</actionType>
        <inputParameters>
            <name>EndDateTime</name>
            <value>
                <dateTimeValue>2021-04-02T07:00:00.000Z</dateTimeValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StartDateTime</name>
            <value>
                <elementReference>$Record.LastViewedDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_3_A1</name>
        <label>Post Chatter Update</label>
        <locationX>400</locationX>
        <locationY>500</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_3_A2</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>message3</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>USER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_3_A2</name>
        <label>Post to Chatter User</label>
        <locationX>550</locationX>
        <locationY>500</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>myRule_3_A3</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>sdfdsf</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_3_A3</name>
        <label>Submit for Approval</label>
        <locationX>700</locationX>
        <locationY>500</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>myDecision5</targetReference>
        </connector>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>myRule_6_A1</name>
        <label>Post Chatter Update</label>
        <locationX>400</locationX>
        <locationY>700</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>sdf</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>USER</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>43</locationX>
        <locationY>300</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingCity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>firstdecbillingvalue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Rating = &#39;Hot&#39;</label>
        </rules>
    </decisions>
    <decisions>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>43</locationX>
        <locationY>500</locationY>
        <defaultConnector>
            <targetReference>myDecision5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.BillingStreet</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>schmatta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Industry</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_4_myRule_3_6000054282</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Rating = &#39;Warm&#39;</label>
        </rules>
    </decisions>
    <decisions>
        <name>myDecision5</name>
        <label>myDecision5</label>
        <locationX>43</locationX>
        <locationY>700</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_6</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_6_A1</targetReference>
            </connector>
            <label>Rating = &#39;Cold&#39;</label>
        </rules>
    </decisions>
    <formulas>
        <name>formula_4_myRule_3_6000054282</name>
        <dataType>String</dataType>
        <expression>&quot;formulatext&quot;</expression>
    </formulas>
    <formulas>
        <name>formula_myRule_6</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>tempbackup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>tempbackup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_1_A2</name>
        <label>Update Test</label>
        <locationX>550</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssistantPhone</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>bar</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>AssistantName</field>
            <value>
                <stringValue>mug</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>43</locationX>
        <locationY>43</locationY>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>RecursiveCountVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
