force-app/main/default/flows/TestFlowPBConvert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Convert_Flow_Metadata</name>
        <label>Convert Flow Metadata</label>
        <locationX>676</locationX>
        <locationY>210</locationY>
        <actionName>ConvertFlowMetadata</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Output_Screen</targetReference>
        </connector>
        <inputParameters>
            <name>flowMetadataZipFile</name>
            <value>
                <elementReference>retriever.zipFileString</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>flowName</name>
            <value>
                <elementReference>retriever.metadataName</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <interviewLabel>TestFlowPBConvert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TestFlowPBConvert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Output_Screen</name>
        <label>Output Screen</label>
        <locationX>807</locationX>
        <locationY>210</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>disp1</name>
            <fieldText>&lt;p&gt;Flow Metadata:{!Convert_Flow_Metadata.convertedFlowMetadata}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Retrieve_Metadata</name>
        <label>Retrieve Metadata</label>
        <locationX>495</locationX>
        <locationY>210</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Convert_Flow_Metadata</targetReference>
        </connector>
        <fields>
            <name>retriever</name>
            <extensionName>c:transferMetadata</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>metadataName</name>
                <value>
                    <stringValue>Testproc_One</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Flow</name>
        <label>Select Flow</label>
        <locationX>351</locationX>
        <locationY>210</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Retrieve_Metadata</targetReference>
        </connector>
        <fields>
            <name>selectFlow</name>
            <extensionName>c:flowPickerFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>showWhichFlowTypes</name>
                <value>
                    <stringValue>Workflow</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Retrieve_Metadata</targetReference>
        </connector>
    </start>
    <status>Draft</status>
</Flow>
